.bar {
  width: 100vw;
  height: auto;
  background-color: var(--mantine-color-dark-filled);
  justify-content: space-between;
}
.logo {
  width: 200px;
  height: 100%;
  background-color: var(--mantine-color-dark-filled);
  background-size: contain;
  padding: 1rem;
}
.navGroup {
  padding-right: 1rem;
}
