@media (max-width: $mantine-breakpoint-xs) {
  :global(.wallet-adapter-button.wallet-adapter-button-trigger) {
    padding: 0 8px;
    height: 2.4rem;
  }
}

.bar {
  width: 100vw;
  height: auto;
  background-color: var(--mantine-color-dark-filled);
  justify-content: space-between;
}
.logo {
  width: 200px;
  background-color: var(--mantine-color-dark-filled);
  padding: 1rem;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 120px;
  }
  &[data-in-drawer="true"] {
    width: 80% !important;
    margin: auto;
  }
}
.navbarGroup {
  padding-right: 1rem;
}

.navButtonsGroup {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}
.menuButton {
  display: none;
  @media (max-width: $mantine-breakpoint-sm) {
    display: block;
  }
}
.drawer {
  background-color: var(--mantine-color-dark-filled);
  justify-content: space-between;
}

.darkBg {
  background-color: var(--mantine-color-dark-filled);
}
